.btn-add {
    padding: 6px 12px;
    float: right;
    width: 100px;
    display: block;
    padding: 8px;
    margin-bottom: 11px;
}

.btn-remove {
    width: 100%;
    margin-bottom: 4px;
    padding: 11px 0;
}
.btn-remove i {
    font-size: 20px;
}

.btn-update {
    width: 100%;
    height: auto;
    padding: 11px 0;
}
.btn-update i {
    font-size: 20px;
    padding-left: 7px;
}

.content-img {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
}

.content {  
    max-width: 200px;
}

.margin-bottom {
    background-color: #f9f5f0;
    min-height: 1000px;
}


.table-product {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.table {
    width: 100%;
    display: block;
    border-radius: 20px;
    background-color: #fff;
}
.table-title-pro, .content {
    font-size: 16px;
}
.table-title-pro {
    text-align: center;
    width: -1%;
    border: none;
}
.table thead th {
    border-top: none;
}
.table-title-pro.pro-des {
    width: 20%;
}

.event-btn {
    display: flex;
    flex-direction: column;   
}
.content.event-btn {
    height: 23vh;
    border-bottom: none;
}

.table-body:last-child {
   border-bottom-style:hidden;
}
.table-body:first-child:last-child {
    border-top-style: hidden;
}
.custom-modal-react {
    width: 18%;
    height: 23%;
    padding: 0 0;
}

.btn-modal-remove {
    margin-right: 20px;
}

.btn-margin-left {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 20px;
}
.btn-margin-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 20px;
}

.btn-center {
    border-radius: 0px;
    margin-bottom: 20px;
}
.table-revenue {
    padding-top: 20px;
}
.table-title-revenue {
    padding-left: 40px;
    padding-top: 20px;
}
.table-title-revenue button {
    background-color: #fff;
}
.table-title-revenue h1 {
    margin-bottom: 14px;
}
.revenue {
    display: flex;
    padding-left: 40px;
}
.table-product-title {
    display: flex;
    justify-content: space-between;
}

.select-option {
    width: 4%;
    height: 33px;
}
.modal-btn{
    padding-top: 1rem;
}

.table-50 {
    width: 50%;
}
.no-data {
    border-top:none !important; 
    padding-left: 10px;
}

