.btn-add {
    padding: 6px 12px;
    float: right;
    margin-right: 60px;
    margin-top: 8px;
}

.btn-remove {
    height: auto;
    padding: 4px;
    margin-right: 2px;
    width: 100%;
}

.btn-update {
    padding: 4px;
    width: 100%;
    height: auto;
}

.content-img {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
}

.content {  
    max-width: 200px;
}

.margin-bottom {
    margin-bottom: 150px;
}

.margin-bottom h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
}

.table-product {
    width: 94%;
    
}
.table {
    width: 100%;
    display: block;
    margin: 0 3%;
    border-radius: 4px;
    
}
.table-title-pro, .content {
    font-size: 16px;
}
.table-title-pro {
    text-align: center;
    width: -1%;
}
.table-title-pro.pro-des {
    width: 20%;
}

.event-btn {
    display: flex;
}

.custom-modal-react {
    width: 18%;
    height: 23%;
    padding: 0 0;
}

.btn-modal-remove {
    margin-right: 20px;
}

.btn-margin-left {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 20px;
}
.btn-margin-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 20px;
}

.btn-center {
    border-radius: 0px;
    margin-bottom: 20px;
}
.revenue {
    display: flex;
}

.select-option {
    width: 4%;
    height: 33px;
}
.modal-btn{
    padding-top: 1rem;
}
