.cart-content {
    position: relative;
    margin: 80px 5vw;
    /* background-color: #ccc; */
}

.cart-content .table-cart {
    margin: 0;
    display: table;
}

.table-cart td,
.table-cart th {
    vertical-align: middle;
}
.table-cart thead th {
    text-align: center;
}

.table-cart .remove-product .remove-btn {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 47px 0;
    padding: 20px 0;
}

.table-cart .table-image a {
    display: block;
    padding: 0 16px;
}

.table-cart .table-image img {
    width: 100px;
    height: 150px;
}

.table-cart .product {
    width: unset;
}
.table-cart .product a {
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.table-cart .product .size {
    margin-left: 20px;
}

.table-cart .price {
    font-size: 15px;
    font-weight: bold;
    color: #222;
    text-align: center;
}

.table-cart .total {
    font-size: 15px;
    font-weight: bold;
    color: #222;
    text-align: center;
}

.table-cart .quantity-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-cart .quantity-area .btn-minus-quantity,
.table-cart .quantity-area .btn-add-quantity {
    height: 42px;
    width: 30px;
    background: #f1f1f1;
    text-align: center;
    line-height: 42px;
    border: 1px solid #ccc;
    padding: unset;
    font-size: unset;
    cursor: pointer;
}
.table-cart .quantity-area .quantity-content {
    text-align: center;
    border: 1px solid #f1f1f1;
    line-height: 40px;
    height: 42px;
    width: 44px;
    padding: unset;
    font-size: unset;
}

.checkout-note #note {
    float: left;
}
.checkout-note .promotion {
    float: left;
    list-style-type: none;
}

.checkout-note .promotion img {
    width: 20px;
    margin-right: 10px;
}

.order-info {
    position: relative;
    bottom: 50px;
    right: 0;
    height: 150px;
    padding: 20px;
}

.order-info .total_price {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
    /* text-align: center */
}

.order-info #checkout {
    position: absolute;
    bottom: 16%;
    right: 0;
    width: 151px;
    height: 49px;
    background: #e29481;
    color: white;
    border-color: #e29481;
    font-size: 15px;
    border: 1px solid #f1f1f1;
}

.warn-selection {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    transition: background-color 0.1s;
}

.warn-login {
    margin: auto;
    margin-top: 30vh;
    width: 270px;
    padding: 12.5px;
    background-color: #fff;
    text-align: center;
}

.warn-login .warn-icon {
    font-size: 50px;
    text-align: center;
    color: firebrick;
    background: unset;
}

.warn-login .warn-text {
    color: black;
    font-size: 17px;
    background: unset;
    margin-top: 12.5px;
}

.warn-login .warn-btn {
    color: #fff;
    background: black;
    font-size: 12px;
    padding: 8px 20px;
    border: unset;
}

.cart .warning__popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart .warning__inner {
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    animation: warningShow 0.2s ease-in-out;
}
.cart .warning__header {
    padding: 15px;
    text-align: center;
}

.cart .warning__header i {
    font-size: 24px;
    color: #a13333;
}

.cart .warning__body p {
    font-size: 16px;
    text-align: center;
}
.cart .warning__footer {
    text-align: center;
    padding-bottom: 15px;
}

.cart .warning__footer button {
    padding: 5px 24px;
    background-color: #dd4a48;
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}

.cart .warning__footer button:hover {
    filter: brightness(1.2);
}

.cart .warning__delete {
    display: block;
    text-align: center;
}
.cart .warning__delete .warning__inner {
    margin: auto;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 320px;
}

.cart .warning__delete .warning__header {
    display: none;
}

.cart .warning__delete .warning__body p {
    font-size: 16px;
    text-align: left;
    padding: 15px;
}

.cart .warning__delete .warning__footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.cart .warning__delete .warning__footer .btn-cancel {
    margin-left: 10px;
    background-color: #c8c2bc;
}
.cart .hidden {
    display: none;
}

@keyframes warningShow {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
.cart {
    position: relative;
}
