* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}


/* -----------Header---------------- */

header {
    width: 100%;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 6px 40px;
    border-bottom: 1px solid var(--color-border);
}

.header-info a {
    text-decoration: none;
    color: var(--color-text);
}

.header-info-csbh,
.header-info a span {
    color: black;
    font-weight: 600;
}


/* -----HEADER-NAVIGATION----- */

.header-nav {
    background: #fff;
    display: flex;
    padding: 20px 40px;
    width: 100%;
}

.header-logo {
    width: 20%;
    height: 56px;
}

.header-logo-img {
    height: 100%;
    width: 190px;
}


/* ------Main-Nav-------- */

.header-nav-main {
    width: 50%;
}

.header-nav-content {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
}

.header-nav-content-item {
    position: relative;
    margin: 0 15px;
}

.header-nav-content-item-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: var(--color-text);
    padding: 15px 0;
}

.header-nav-content-item-link:hover {
    color: var(--color-hover);
    font-weight: bold;
    text-decoration: none;
}

.header-nav-main .header-nav-content .header-nav-content-item.hasItemMenu {
    position: static;
}


/* ------Hover-Sub--------- */

.hasItemMenu:hover>.header-sub-nav {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


/* ---Header-Sub-Navigation----- */

.header-sub-nav {
    position: absolute;
    right: 24%;
    width: 51%;
    min-width: 127px;
    padding: 20px 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(55px);
    transform-origin: 0 0 0;
    transition: all .4s linear;
    box-shadow: 0 2px 14px rgb(0 0 0 / 10%);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    z-index: 99;
}

.sub-nav-list {
    max-width: 900px;
    margin: 0 auto;
}

.sub-nav-list ul {
    margin: 0;
}

.sub-nav-item {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.sub-nav-list .sub-nav-item {
    list-style: none;
    height: auto;
}

.sub-nav-item a {
    text-decoration: none;
    display: block;
}

.sub-nav-item a:hover .sub-nav-info {
    color: var(--color-hover);
    outline: none;
}

.sub-nav-item-img {
    max-width: 100%;
    height: auto;
}

.sub-nav-item span {
    display: block;
    color: var(--color-text);
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}


/* ------Header-Nav-Right--------- */

.header-nav-right {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.header-form {
    position: relative;
    border: 1px solid var(--color-border);
    width: 50%;
    height: 75%;
}

.header-search {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: none;
}

.header-search:focus {
    outline: none;
}

.header-search-btn {
    position: absolute;
    top: 13px;
    right: 6px;
    background: url(https://file.hstatic.net/1000358207/file/searchicon.svg) no-repeat;
    width: 20px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.header-user {
    padding: 0 20px;
}


/*========================main-body=======================*/
.main-body{
    padding: 0px 40px;
}

.itemscope{
    display: block;
    padding: 8px 15px;
    background-color: #f5f5f5;
}
.itemscope li{
    display: inline-block;
}
.itemscope li+li::before{
    content: "/\00a0";
}
.itemscope li a{
    color: #111111;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Quicksand';
    font-size: 14px;
}
.itemscope li a:hover{
    color: #e29481;
    text-decoration: none;
    outline: none;
}
/*================================================*/
.collection-body{
    padding: 0px 0px;
    max-width: 1920px;
}
.wrap-collection-title {
    margin: 30px 0px;
    width: 100%;
}
.wrap-collection-title span.Mot{
    font-size: 29px;
    font-family: 'Quicksand';
    font-weight: 600;
}
.wrap-collection-title .menuCollection{
    margin-left: 20px;
    margin-bottom: 0px;
}
.wrap-collection-title .menuCollection li{
    display: inline-block;
}

.wrap-collection-title .menuCollection li a{
    color: #111111;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 15px;
    border-right: 1px solid;
    margin: 12px 0px;
    line-height: 10px;
    display: inherit;
    padding: 0px 10px;
}
.wrap-collection-title .menuCollection li a:hover{
    color: #e29481;
    text-decoration: none;
}

.filter-custom{
    float: right;
}
.filter-custom .boloc{
    display: inline-block;
}
.filter-custom ul.group-filter{
    display: inline-block;
    list-style: none;
}
.filter-custom ul.group-filter > li{
    display: inline-block;
    position: relative;
    margin-left: 30px;
    padding: 10px 0px;
}
.filter-custom ul.group-filter > li > div{
    cursor: pointer;
}
ul.group-filter > li:hover ul.check-box-list{
    display: block;
    background-color:white;
}

li > ul.check-box-list{
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    border: 1px solid #cbcbcb;
    padding: 15px;
    padding-bottom: 0px;
    box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 20%);
    z-index: 9999;
    left: -30px;
}
li > ul.check-box-list > li{
    min-width: 180px;
}
li > ul.check-box-list > li > label{
    cursor: pointer;
}

input[type="checkbox" i] {
    cursor: pointer;
    margin-top: 3px;
}
/*==================product-list==============================*/
.product-list{
    padding-bottom: 60px;
}
.product-list .product > a{
    cursor: pointer;
}
.product-list .product .product-img{
    position: relative;
}
.product-list .product .product-img:hover .img-change{
    opacity: 0;
}
img{
    width: 100%;
    transition: all 0.6s;
}
.img-change{
    position: absolute;
    opacity: 1;
}

img.new-arrivals{
    position: absolute;
    top: 6px;
    right: 5px;
    width: 15%;
    height: auto;
}
img.best-seller{
    position: absolute;
    bottom: 5px;
    left: 7px;
    width: 88px;
    height: 24px;
}

.product .product-detail{
    margin-top: 15px;
}
.product .product-detail > a{
    text-decoration: none;
    color: #111111;
    font-size: 15px;
}
.product .product-detail > a:hover{
    color: #e29481;
}
/*======================Page==================*/
.page{
    margin: 30px 0px;
    text-align: center;
}
.page .page-node{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    line-height: 26px;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    margin: 0px 5px;
}
.page .page-node:hover{
    background-color: #111111;
    color: #f5f5f5;
}
.page .current{
    background-color: #111111;
    color: #f5f5f5;
}
.page .next{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
}

/* ----Find-shop---- */

.findShop {
    padding: 30px 30px;
    background: #ebebeb;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.findShop a {
    font-size: 22px;
    color: #000;
    transition: color .2s linear;
}

.findShop a:hover {
    color: var(--color-hover);
}


/* -------Footer--------- */

.footer {
    padding: 20px 0;
}

.about-us {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

.about {
    display: flex;
    width: 60%;
}

.about-list {
    width: 33.33333%;
}

.about-list ul {
    list-style: none;
}

.about-item {
    margin-bottom: 8px;
}

.about-item a {
    font-size: 15px;
    color: var(--color-text);
}

.about-item.title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    line-height: 1.2;
    margin-bottom: 15px;
}

.sign-up {
    width: 40%;
    border: 20px solid #ebebeb;
    padding: 20px 60px;
    height: auto;
}

.sign-up-title {
    margin-bottom: 15px;
}

.sign-up-title h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.sign-up-des {
    margin-bottom: 20px;
}

.sign-up-des p {
    font-size: 15px;
}

.sign-up-form {
    position: relative;
}



#email {
    height: 36px;
    border: none;
    width: 100%;
    font-size: 15px;
    outline: none;
    box-shadow: none;
    color: black;
    border-bottom: 2px solid black;
    text-transform: inherit;
    border-radius: 0;
    padding: 10px 0;
}

.input-placeholder {
    cursor: text;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 6px;
    transition: top .2s, font-size .2s, background .2s;
    white-space: nowrap;
}

.submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    padding: 5px 10px;
    height: 36px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background: transparent;
    outline: none;
}
.submit-btn i {
    font-size: 20px;
}
.fa-angle-right::before {
    content: "\f105";
}


/* ----Contact-------- */
.contact {
    display: flex;
    padding: 0 40px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
}
.contact a {
    text-decoration: none;
    color: #000;
    transition: color .2s linear;
}

.contact a:hover {
    color: var(--color-hover);
}
.contact a   {
    display: block;
    font-size: 25px;
    margin: 10px;
}

/* ---Address---- */
.address {
    display: flex;
    margin-top: 20px;
    padding: 0 40px;
    justify-content: space-between;
}

.address-title {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.address-content {
    font-size: 13px;
    color: var(--color-text);
}

.address-right {
    display: flex;
    align-items: center;
}
.address-copyright {
    margin-right: 10px;
    font-size: 13px;
    color: var(--color-text);
}
.address-tem img {
    width: 140px;
}





