
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}


/* -------Footer--------- */

.footer {
    padding: 20px 0;
}

.about-us {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

.about {
    display: flex;
    width: 60%;
}

.about-list {
    width: 33.33333%;
}

.about-list ul {
    list-style: none;
}

.about-item {
    margin-bottom: 8px;
}

.about-item a {
    font-size: 15px;
    color: var(--color-text);
}

.about-item.title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    line-height: 1.2;
    margin-bottom: 15px;
}

.sign-up {
    width: 40%;
    border: 20px solid #ebebeb;
    padding: 20px 60px;
    height: auto;
}

.sign-up-title {
    margin-bottom: 15px;
}

.sign-up-title h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.sign-up-des {
    margin-bottom: 20px;
}

.sign-up-des p {
    font-size: 15px;
}

.sign-up-form {
    position: relative;
}



#email {
    height: 36px;
    border: none;
    width: 100%;
    font-size: 15px;
    outline: none;
    box-shadow: none;
    color: black;
    border-bottom: 2px solid black;
    text-transform: inherit;
    border-radius: 0;
    padding: 10px 0;
}

.input-placeholder {
    cursor: text;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 6px;
    transition: top .2s, font-size .2s, background .2s;
    white-space: nowrap;
}

.submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    padding: 5px 10px;
    height: 36px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background: transparent;
    outline: none;
}
.submit-btn i {
    font-size: 20px;
}
.fa-angle-right::before {
    content: "\f105";
}


/* ----Contact-------- */
.contact {
    display: flex;
    padding: 0 40px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
}
.contact a {
    text-decoration: none;
    color: #000;
    transition: color .2s linear;
}

.contact a:hover {
    color: var(--color-hover);
}
.contact a   {
    display: block;
    font-size: 25px;
    margin: 10px;
}

/* ---Address---- */
.address {
    display: flex;
    margin-top: 20px;
    padding: 0 40px;
    justify-content: space-between;
}

.address-title {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.address-content {
    font-size: 13px;
    color: var(--color-text);
}

.address-right {
    display: flex;
    align-items: center;
}
.address-copyright {
    margin-right: 10px;
    font-size: 13px;
    color: var(--color-text);
}
.address-tem img {
    width: 140px;
}