* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}



/* -----Slider------- */

.img-slider {
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2.5s;
    transition-property: clip-path;
    animation: fadeIn 1s ease-in;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
}
