.user-infor{
    padding-bottom: 2rem;
    border-bottom: solid 1px #ccc;
    margin-left: 3rem;
}
.user-option{
    padding: 2rem 0 0 1rem;
}
.user-option>ul{
    list-style-type: none;
}
.user-option>ul>li{
    padding-top: 1rem;
}
.user-detail{
    padding-bottom: 2.56rem;
    border-bottom: solid 1px #ccc;
}
.user-details{
    padding: 2.56rem 0 0 0;
}
.user-details>ul{
    list-style-type: none;
}
.user-details>ul>li{
    padding-top: 1rem;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: #e29481;
}
.title-user {
    text-align: center;
    margin-bottom: 60px;
    padding: 100px 15px;
    border-bottom: 1px solid #f1f1f1;
}

.title-user h1 {
    font-size: 44px;
    font-weight: 700;
    margin: 0;
}

.title-user h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin: 50px auto 0;
    background: #000;
}